*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: #fff;
    font-family: "Opens Sans", sans-serif;
}

.contenedor{
    max-width: 1000px;
    margin: 20px auto;
}

.contenedor article{
    line-height: 28px;
}

.contenedor article h1{
    font-size: 30px;
    text-align: left;
    padding: 50px 0;
}

.contenedor article p{
    margin-bottom: 20px;
}

.contenedor article .btn-abrir-popup{
    padding: 0 20px;
    margin-bottom: 20px;
    height: 40px;
    line-height: 40px;
    border: none;
    color: #fff;
    background: #5E7DE3;
    border-radius: 3px;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    cursor: pointer;
    transition: .3 ease all;
    cursor: pointer;
}

.contenedor article .btn-abrir-popup:hover{
    background: rgb(94, 125, 227, .9);
}

/*-----------------------------*/
/* POPUP */
/*-----------------------------*/
.overlay{
    background: rgb(0, 0, 0,.3);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
}

.overlay.active{
    visibility: visible;
}
.popup{
    background: #f8f8f8;
    box-shadow: 0px 0px 5px 0px  rgb(0,0,0,0.3 );
    border-radius: 3px;
    font-family: "Montserrat", sans-serif;
    padding: 20px;
    text-align: center;
    width: 600px;


    transition: .3 ease all;
    transform: scale(0.7);
    opacity: 0;
    
}

.popup .btn-cerrar-popup{
    font-size: 16px;
    line-height: 16px;
    display: block;
    text-align: right;
    color: #BBBBBB;
    transition: .3 ease all;
}

.popup .btn-cerrar-popup:hover{
    color: #000;
}

.popup h3{
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 10px; 
    opacity: 0; 
}

.popup h4{
    font-size: 26px;
    font-weight: 300;
    margin-bottom: 40px; 
    opacity: 0;
}

.popup form .contenedor-inputs{
    opacity: 0;
}

.popup form .contenedor-inputs input{
    width: 100%; 
    margin-bottom: 20px;
    height: 52px;
    line-height: 52px;
    font-size: 18px;
    text-align: center;
    border: 1px solid #BBBBBB;
}

.popup form .btn-submit{
    padding: 0 20px;
    height: 40px;
    line-height: 40px;
    border: none;
    color: #fff;
    background: #5E7DE3;
    border-radius: 3px;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    cursor: pointer;
    transition: .3s ease all;
}

.popup form .btn-submit:hover{
    background: rgb(94,125,227, .9);
}

/*-----------------------------*/
/* ANIMACIONES */
/*-----------------------------*/
.popup.active{ opacity: 1; transform: scale(1);}
.popup.active h3{ animation: entradaTitulo .8s ease .5s forwards;}
.popup.active h4{ animation: entradaSubtitulo .8s ease .5s forwards;}
.popup.active .contenedor-inputs{ animation: entradaInputs 1s ease 1s forwards;}

@keyframes entradaTitulo{
    from{
        transform: translateY(-25px); 
        opacity: 0;  
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes entradaSubtitulo{
    from{
        transform: translateY(25px);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes entradaInputs{
    form{opacity: 0;}
    to{ opacity: 1;}
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2{
    text-align: center;
    font-size: 40px;
    font-family: arial;
    margin-top: 80px;
    color: rgb(221, 13, 248);
    text-shadow: 0px 0px 6px #eeea09;
}

.content-all{
    width: 210px;
    margin: auto;
    perspective: 1000px;
    position: relative;
    margin-top: 50px;
}

.content-carrousel{
    width: 100%;
    position: absolute;
    animation: rotar 10s infinite linear;
    transform-style: preserve-3d;
    -webkit-animation: rotar 10s infinite linear;
}

.content-carrousel figure{
    width: 100%;
    height: 120px;
    overflow: hidden;
    position: absolute;
    box-shadow: 0px 0px 20px 0px black;
    transition: all 300ms;
}

.content-carrousel:hover{
    animation-play-state:paused;
    cursor: pointer;
}

.content-carrousel figure:hover{
    box-shadow: 0px 0px 0px 0px black;
    transition: all 300ms;
}  

.content-carrousel figure:nth-child(1){transform: rotateY(0deg) translateZ(300px);}
.content-carrousel figure:nth-child(2){transform: rotateY(40deg) translateZ(300px);}
.content-carrousel figure:nth-child(3){transform: rotateY(80deg) translateZ(300px);}
.content-carrousel figure:nth-child(4){transform: rotateY(120deg) translateZ(300px);}
.content-carrousel figure:nth-child(5){transform: rotateY(160deg) translateZ(300px);}
.content-carrousel figure:nth-child(6){transform: rotateY(200deg) translateZ(300px);}
.content-carrousel figure:nth-child(7){transform: rotateY(240deg) translateZ(300px);}
.content-carrousel figure:nth-child(8){transform: rotateY(280deg) translateZ(300px);}
.content-carrousel figure:nth-child(9){transform: rotateY(320deg) translateZ(300px);}
.content-carrousel figure:nth-child(10){transform: rotateY(360deg) translateZ(300px);}

.content-carrousel img{
    width: 100%;
    transition:all 300ms;
}

.content-carrousel img:hover{
    transform: scale(1.2);
    transition:all 300ms;
}

@keyframes rotar{
    from{
        transform: rotateY(0deg);
    }to{
        transform: rotateY(360deg);
    }
}
