*{
    padding: 0px;
    margin: 0px;
}

body{
    background-size: 100vw 100vh;
    background-attachment: fixed;
    margin: 0;
    font-family: monospace;
}

form{
    width: 450px;
    margin: auto;
    background: rgb(0, 0, 0, 0.4);
    padding: 10px 20px;
    box-sizing: border-box;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}

h2{
    color: white;
    text-align: center;
    margin: 0;
    font-size: 30px;
    margin-bottom: 20px;
}

input,textarea{
    width: 150px;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 11px;
    border: none;
}

text textarea{
    min-height: 100px;
    max-height: 200px;
    max-width: 100px;
}

#botom{
    background: #31384A;
    color: white;
    padding: 20px;
}

#botom:hover{
    cursor: pointer;
}

@media(max-width:480px)
{
    form{
        width: 100%;
    }
}

h1{
    text-align: center;
    color: white;
    font-size: 40px;
    background: rgb(0, 0, 0, 0.4);
    margin-top: 20px;
}

.content{
    width: 100%;
    height: 100%;
}

.slider{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    background-position: center center;
    background-image: url(../img/Primavera.jpg);
    z-index: -1;
}

.slider li{
    width: 100%;
    height: 100%;
    position: absolute;
    background-position: center center;
    animation: slider 40s linear infinite;
    -moz-animation: slider 40s linear infinite;
    -o-animation: slider 40s linear infinite;
    -webkit-animation: slider 40s linear infinite;
}

.slider .img1{
    background-image: url(../img/280.jpg);
    animation-delay: 10s;
}

.slider .img2{
    background-image: url(../img/thumb.jpg);
    animation-delay: 20s;
}

.slider .img3{
    background-image: url(../img/19.jpg);
    animation-delay: 30s;
}

@keyframes slider{
    0%{opacity: 0; animation-timing-function: ease-in;}
    10%{opacity: 1; animation-timing-function: ease-out;}
    25%{opacity: 1; transform: scale(1);}
    50%{opacity: 0; transform: scale(2);}
    100%{opacity: 0;}
}

@-moz-keyframes slider{
    0%{opacity: 0; animation-timing-function: ease-in;}
    10%{opacity: 1; animation-timing-function: ease-out;}
    25%{opacity: 1; transform: scale(1);}
    50%{opacity: 0; transform: scale(2);}
    100%{opacity: 0;}
}

@-ms-keyframes slider{
    0%{opacity: 0; animation-timing-function: ease-in;}
    10%{opacity: 1; animation-timing-function: ease-out;}
    25%{opacity: 1; transform: scale(1);}
    50%{opacity: 0; transform: scale(2);}
    100%{opacity: 0;}
}

@-o-keyframes slider{
    0%{opacity: 0; animation-timing-function: ease-in;}
    10%{opacity: 1; animation-timing-function: ease-out;}
    25%{opacity: 1; transform: scale(1);}
    50%{opacity: 0; transform: scale(2);}
    100%{opacity: 0;}
}

@-webkit-keyframes slider{
    0%{opacity: 0; animation-timing-function: ease-in;}
    10%{opacity: 1; animation-timing-function: ease-out;}
    25%{opacity: 1; transform: scale(1);}
    50%{opacity: 0; transform: scale(2);}
    100%{opacity: 0;}
}

