*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-size: 20px;
}

body{
	background-color: #fff59d;
}

.header{

background-color: #1b3039;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 85px;
	padding: 5px 10%;

}


.header .logo{
	cursor: pointer;
}

.header .logo img{
	height: 70px;
	width: auto;
}

.header .logo img:hover{
	transform: scale(1.1);
}